<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body {
        display: grid;
        height: 100vh;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit,100px);
    }

    div {
           display: grid;
           place-items: center;
           background: lightpink;
    }

    body {
        font-family: system-ui, sans-serif;
    }
</style>
     <div>1</div>
     <div>2</div>
     <div>3</div>
     <div>4</div>
     <div>5</div>
     <div>6</div>
</body>
</html>